name: CI
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-2019
    strategy:
      fail-fast: false
      matrix:
        env_name:
          - "platform"
          - "Platform"  # vcvarsall
          - "PLATFORM"  # issue#38
    env:
      ${{ matrix.env_name }}: foobar
    steps:
      - uses: ilammy/msvc-dev-cmd@d39d8f7626e5667b00caa504eaefd7c24c9ba49d  # v1.7.0
      - shell: bash -l {0}  # Invalid value: bash -l {0}
        run: |
          echo $${{ matrix.env_name }}
      - shell: bash
        run: |
          echo $${{ matrix.env_name }}
      - shell: pwsh
        run: |
          echo ${Env:\${{ matrix.env_name }}}
      - shell: powershell
        run: |
          echo ${Env:\${{ matrix.env_name }}}
      - shell: cmd
        run: |
          echo %${{ matrix.env_name }}%
