name: CI
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        toolset_version: [14, 14.0, 14.1, 14.2, 14.28]
    steps:
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64
          toolset: ${{ matrix.toolset_version }}
      - run: cl.exe
      - run: set
